@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.border-b-red-600 {
  border-bottom: 3px solid #ff0000;
}

.border-b-transparent {
  border-bottom: 3px solid transparent;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff856d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
